* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
}

body {
    background-color:#751B12;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contenedor__banner--logo {
    position: absolute;
    top: 1%;
    left: -3%;
    transform: scale(0.5); 
}

.contenedor__contenido {
    display: flex;
    align-items: center; 
    margin-top: 6rem;
    transform: scale(0.8);
}

.tituloUno {
    font-weight: 600;
    font-size: 2rem;
    color: white;
}

.imgUno {
    width: 25px;
    margin-right: 1rem; 
    margin-top: 0.5rem;
}

.imgUno:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
}

.imgDos {
    position: absolute; 
    top: 12rem;
    right: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    transform: scale(0.6);
}

.contenedor__contacto img {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 850px;
    height: auto;
    margin-bottom: 12rem;
}